@charset "UTF-8";
/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFF9EB;
}

.wrapper {
  color: #261E1B;
  background-color: #FFF9EB;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navigation,
.breadcrumbs,
.footer {
  background-color: #261E1B;
  color: #FFF9EB;
  font-family: "Great Vibes", cursive;
  padding: 5px 15px;
  font-size: 20px;
}

.text-link {
  color: #261E1B;
}

.text-link:visited {
  color: #5D544F;
}

.text-link:hover {
  color: #FFF9EB;
  background-color: #261E1B;
}

.box {
  background-color: white;
  box-shadow: 0px 4px 6px #FFE7AD;
  padding: 15px;
}

.box__go-to {
  text-decoration: none;
  color: #261E1B;
}

.box__img {
  background-color: #FFE099;
  width: 100%;
}

.box__content {
  display: flex;
  flex-direction: column;
}

.button {
  color: #FFF9EB;
  background-color: #261E1B;
  box-shadow: 0px 4px 6px #5d544f;
  font-family: "Great Vibes", cursive;
  font-size: 18px;
}

.button:hover {
  color: #261E1B;
  background-color: #FFF9EB;
}

.box__button {
  text-decoration: none;
  display: none;
}
@media screen and (min-width: 600px) {
  .box__button {
    display: block;
  }
}

.breadcrumbs {
  text-align: left;
}

.breadcrumbs__link {
  color: #FFF9EB;
}

.breadcrumbs__link:hover {
  color: #261E1B;
  background-color: #FFF9EB;
}

.header {
  background-image: url(/images/docasny.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
@media screen and (min-width: 600px) {
  .header {
    padding: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    padding: 120px;
  }
}

.header__title {
  font-family: "Great Vibes", cursive;
  margin: 0;
  font-size: 3em;
}
@media screen and (min-width: 1100px) {
  .header__title {
    font-size: 4em;
  }
}

/*zvětšení prvního písmena nadpisu*/
.header__title::first-letter {
  font-size: 1.5em;
}

.header__subheading {
  margin: 0;
  font-weight: lighter;
  font-size: 1.25em;
}
@media screen and (min-width: 1100px) {
  .header__subheading {
    font-size: 1.5em;
  }
}

.main {
  padding: 30px;
}
@media screen and (min-width: 600px) {
  .main {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.grid-for-boxes {
  display: grid;
  gap: 30px;
  grid-template-columns: 100%;
}
@media screen and (min-width: 600px) {
  .grid-for-boxes {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo__icon {
  height: 20px;
  width: auto;
  padding-right: 5px;
}

.logo__link {
  color: #FFF9EB;
  text-decoration: none;
}

.logo:hover {
  color: #261E1B;
  background-color: #FFF9EB;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  text-align: right;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .menu__toggler {
    display: none;
  }
}

.menu {
  margin: 0;
}

.menu__list {
  list-style: none;
  display: none;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .menu__list {
    display: flex;
  }
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__item {
  display: block;
}

.menu__item:hover {
  color: #261E1B;
  background-color: #FFF9EB;
}

.menu__link {
  color: #FFF9EB;
  display: block;
  text-decoration: none;
  padding: 10px;
}

.menu__link:hover {
  color: #261E1B;
}

/* musím si rozmyslet, jestli chci červenou, je hůř vidět
.required {
    color: colours.$c-required;
}*/
.contact-form {
  text-align: left;
}
@media screen and (min-width: 600px) {
  .contact-form {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (min-width: 1100px) {
  .contact-form {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.contact-form__item {
  margin-bottom: 15px;
}

.contact-form__label {
  display: block;
}

.contact-form__field {
  width: 100%;
  border: 1px solid #261E1B;
}

.contact-form__field:focus {
  border: 2px solid #261E1B;
}

.notice {
  font-size: 12px;
}

.button--form {
  border: 0;
  padding: 5px 15px;
}
@media screen and (min-width: 600px) {
  .button--form {
    padding: 5px;
    font-size: 20px;
    width: 25%;
  }
}

.button-wrapper {
  text-align: right;
}

.box--submitted {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}/*# sourceMappingURL=style.css.map */