@use 'fonts';
@use 'colours';
@use 'spacers';

.article {
    text-align: justify; //zarovnání do bloku

    &__source {
        font-style: italic; //plná citace knihy kurzívou
    }    

    &__img {
        background-color: colours.$c-img-substitute; //náhrada, pokud by se obrázek dlouho načítal
        float: left; //obtékání obrázku
        width: 100%;
        margin-bottom: 10px; //aby nebyl nalepený na text, nevadí to BEMu?
        @media screen and (min-width: 600px) {
            width: 50%;
            margin-right: 10px;
            margin-bottom: 5px;
        }
        @media screen and (min-width: 1100px) {
            width: 33%;
        }
    }

    &__quote {
        font-style: italic;
    }

    &__quote-title {
        font-style: normal;
        font-size: 16px;
        margin: 0;
    }

    &__page-number {
        text-align: right;
        font-style: normal;
    }
}

.published {
    text-align: right;
}