@use 'fonts';
@use 'colours';
@use 'spacers';

/* nejsme vcerejsi, pouzivame moderni box model */
html {
    box-sizing: border-box;
  }
  *,
  :after,
  :before {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: fonts.$fs-basic;
    line-height: 1.5;
  }

  .wrapper {
    color: colours.$c-primary;
    background-color: colours.$c-secondary;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }