@use 'fonts';
@use 'colours';
@use 'spacers';

/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: fonts.$fs-basic;
  line-height: 1.5;
  background-color: colours.$c-secondary;
}

.wrapper {
  color: colours.$c-primary;
  background-color: colours.$c-secondary;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navigation,
.breadcrumbs,
.footer {
  background-color: colours.$c-primary;
  color: colours.$c-secondary;
  font-family: fonts.$f-fancy;
  padding: spacers.$padding-small;
  font-size: 20px;
}

.text-link {
  color: colours.$c-primary;
}

.text-link:visited {
  color: colours.$c-brown-shadow;
}

//stejně jako u menu a tlačítek budou u odkazů při :hover barvy reverzně
.text-link:hover {
  color: colours.$c-secondary;
  background-color: colours.$c-primary;
}
