@use 'fonts';
@use 'colours';
@use 'spacers';

.box {
    background-color: white;
    box-shadow: 0px 4px 6px colours.$c-dark-shadow;
    padding: spacers.$spacer-small;
    @media screen and (min-width: 500px) {
        display: flex;       
    }
}

.box__go-to {
    text-decoration: none;
    color: colours.$c-primary;
}

.box__img {
    background-color: colours.$c-img-substitute;
    width: 75%;    
}

.button {
    color: colours.$c-secondary;
    background-color: colours.$c-primary;
    box-shadow: 0px 4px 6px colours.$c-dark-shadow;
}

.box__button {
    text-decoration: none;
    display: none;

    @media screen and (min-width: 500px) {
        display: block;        
    }

    
} //nezapomenout vrátit na širší obrazovky

