@use 'fonts';
@use 'colours';

.breadcrumbs {
    background-color: colours.$c-primary;
    color: colours.$c-secondary;
    font-family: fonts.$f-fancy;
    text-align: left;
}

.breadcrumbs__link {
    color: colours.$c-secondary;
}
//musím ještě vyřešit :hover