@use 'fonts';
@use 'colours';
@use 'spacers';

.breadcrumbs {
  text-align: left;

  &__link {
    color: colours.$c-secondary;    
  }
}

//toto je zvlášť nezanořené, protože zanořené mi to nevímproč nefunguje
.breadcrumbs__link:hover {
  color: colours.$c-primary;
  background-color: colours.$c-secondary;
}




