@use 'fonts';
@use 'colours';
@use 'spacers';

.breadcrumbs {
  text-align: left;

  &__link {
    color: colours.$c-secondary;
    :hover {
      color: colours.$c-primary;
      background-color: colours.$c-secondary;
    }
  }
}




