$c-primary: #261E1B; //for navigation bars, footer, basic texts and buttons
$c-secondary: #FFF9EB; //"old lace" for backgrounds//
$c-primary-hover: #5D544F; //for :hover state of buttons
$c-light-shadow: #FFF3D6; //"corn silk"
$c-dark-shadow: #FFE7AD; //"banana mania"
$c-darkest-of-them-all: #FFE099; //"jasmine"