$c-primary: #261E1B; //for navigation bars, footer, basic texts and buttons
$c-secondary: #FFF9EB; //"old lace" for backgrounds//
$c-brown-shadow: #5D544F; //for shadows of dark buttons
$c-light-shadow: #FFF3D6; //"corn silk"
$c-dark-shadow: #FFE7AD; //"banana mania" for shadows of white boxes
$c-img-substitute: #FFE099; //"jasmine" background colour for images (in case it takes them long to upload)