@use 'fonts';
@use 'colours';
@use 'spacers';

.header {
  background-image: url(/images/docasny.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  @media screen and (min-width: 600px) {
    padding: 60px;
  }
  @media screen and (min-width: 1100px) {
    padding: 120px;
  }

  &__title {
    font-family: fonts.$f-fancy;
    margin: 0;
    font-size: 3em;
    @media screen and (min-width: 1100px) {
      font-size: 4em;
    }
  }
}



/*zvětšení prvního písmena nadpisu*/
.header__title::first-letter {
  font-size: 1.5em;
}
.header__subheading {
  margin: 0;
  font-weight: lighter;
  font-size: 1.25em;
  @media screen and (min-width: 1100px) {
    font-size: 1.5em;
  }
}
