@use 'fonts';
@use 'colours';
@use 'spacers';

.main {
    padding: spacers.$spacer-small;
  }

.grid-for-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 30px;
}





