@use 'fonts';
@use 'colours';
@use 'spacers';

.main {
    padding: spacers.$spacer-small;
  }

.grid-for-boxes {
  display: grid;
  gap: 30px;
  grid-template-columns: 100%; //boxy pod sebou, zabírají největší možnou šířku

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); //podle šířky obrazovky po více do řádku, ještě rozmyslet rozměry, takhle to v souvislosti s breakpointem nedává úplně nejlepší smysl
  } 
  
}





