@use 'fonts';
@use 'colours';
@use 'spacers';

.main {
    padding: spacers.$spacer-small;
  }
  /* už toho dnes bylo dost
.grid-for-boxes {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 30px;
}
*/



