@use 'fonts';
@use 'colours';
@use 'spacers';

.navigation {
  display: flex;
  justify-content: space-between; //aby byly logo a menu na opačných stranách
}

.logo {
  display: flex;
  align-items: center; //aby byly lísteček a nápis u sebe, rozmyslet, jestli to tak opravdu nechat
  padding: 10px;
  
}
.logo__icon {
  height: 20px;
  width: auto;
  padding-right: 5px;
}

.logo__link {
  color: colours.$c-secondary;
  text-decoration: none;
}

.logo:hover {
  color: colours.$c-primary;
  background-color: colours.$c-secondary;
}

//skrýt checkbox
.menu__checkbox {
  position: absolute;
  left: -9999px;
}

//"ručička" pro ukázání na menu
.menu__toggler {
  text-align: right;
  cursor: pointer;

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.menu {
  margin: 0; //aby se mi netřískal s mým rozvržením
}

.menu__list {
  list-style: none;
  display: none;
  margin: 0;
  @media screen and (min-width: 600px) {
    display: flex;
  }
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__item {
  display: block;
}

.menu__item:hover {
  color: colours.$c-primary;
  background-color: colours.$c-secondary;
}

.menu__link {
  color: colours.$c-secondary;
  display: block;
  text-decoration: none;
  padding: 10px; //aby se dobře trefovalo na mobilu
}

.menu__link:hover {
  color: colours.$c-primary;
}
