<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listy v dlani</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <nav class="navigation">
        <div>
          <!--tady bude logo-->
        </div>
        <menu class="menu">
          <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		      <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>
          <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="/jak-zacit/">Jak začít</a></li>
            <li class="menu__item"><a class="menu__link" href="/dilnicka/"> Dílnička</a></li>
            <li class="menu__item"><a class="menu__link" href="/ctenarsky-koutek/">Čtenářský koutek</a></li>
            <li class="menu__item"><a class="menu__link" href="/o-mne/">O mně</a></li>
          </ul>
        </menu>
      </nav>

      <header class="header">
        <h1 class="header__title">Listy v dlani</h1>
        <h2 class="header__subheading">{{subheading}}</h2>
      </header>

      <nav class="breadcrumbs">
        <a class="breadcrumbs__link" href="/">Domů</a>
      </nav>

      <main class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">© Listy v dlani</footer>
    </div>
  </body>
</html>
