---
layout: primary_layout.njk
subheading: Čtenářský koutek
---

<article class="article">
    <h3 class="article__title"> {{ title }} </h3>
    <p class="article__source"> {{ citation }} </p>
    <div class="article__content">
        <img class="article__img article__img--review" src=" {{src}} " alt=" {{alt}} ">
        {{ content | safe }}
    </div>  
    <p class="published">Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>
</article>