---
layout: review.njk
title: Kroniky prachu
citation: Lin RINA - Kroniky prachu, Fragment, Praha 2019.
perex: Pro dívku z dobře postavené venkovské rodiny je práce v londýnské knihovně vítaným útěkem od neustálých dohazovačských pokusů její matky.
src: /images/ctenarsky-koutek/kroniky-prachu.jpg
alt: Obálka knihy Kroniky prachu
no: s. 9
link: <a class="breadcrumbs__link" href="/ctenarsky-koutek/">Čtenářský koutek</a>
tags: ['post', 'recenze']
eleventyNavigation:
  key: Kroniky prachu
  parent: Čtenářský koutek
---

{% extends "./mezisablona.html" %} {% block hlavni %}
<p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis risus. Nulla
  non lectus sed nisl molestie malesuada. Fusce dui leo, imperdiet in, aliquam
  sit amet, feugiat eu, orci. Pellentesque ipsum. In convallis. Aenean id metus
  id velit ullamcorper pulvinar. Fusce dui leo, imperdiet in, aliquam sit amet,
  feugiat eu, orci. Etiam dictum tincidunt diam. Nulla pulvinar eleifend sem. Ut
  enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
  laboriosam, nisi ut aliquid ex ea commodi consequatur? Nullam rhoncus aliquam
  metus. Proin in tellus sit amet nibh dignissim sagittis. Nunc tincidunt ante
  vitae massa. Maecenas fermentum, sem in pharetra pellentesque, velit turpis
  volutpat ante, in pharetra metus odio a lectus. Phasellus enim erat,
  vestibulum vel, aliquam a, posuere eu, velit.
</p>
<p>
  Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor
  suscipit diam nulla vel leo. Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum. Mauris dictum
  facilisis augue. Donec quis nibh at felis congue commodo. Nulla turpis magna,
  cursus sit amet, suscipit a, interdum id, felis. Pellentesque sapien. Nullam
  dapibus fermentum ipsum. In rutrum. Aenean id metus id velit ullamcorper
  pulvinar. Cras elementum. Nunc dapibus tortor vel mi dapibus sollicitudin.
  Nunc tincidunt ante vitae massa. Nullam faucibus mi quis velit. Nulla
  accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor
  suscipit diam nulla vel leo. Integer lacinia. In convallis. Praesent vitae
  arcu tempor neque lacinia pretium. Integer imperdiet lectus quis justo. Mauris
  dolor felis, sagittis at, luctus sed, aliquam non, tellus. Nunc dapibus tortor
  vel mi dapibus sollicitudin.
</p>
{% endblock %} {% block vedlejsi %}
<p>
  Kvůli matce trávím nekonečně nudné hodiny na společenských dýcháncích a
  plesech, na nichž vedu jen bezduché rozhovory. Většinou s lidmi, kteří si o
  sobě myslí, kdovíjak nejsou vzdělaní, poněvadž si kdysi zvenčí prohlédli
  jakousi knihu, ovšem zábavu nacházejí pouze v trapasech jiných lidí.
</p>
<p>
  A přitom bych místo toho mohla sedět doma ve svém starém křesle a zabývat se
  myšlenkami brilantních myslitelů. Mé životní lásky se mnou přce už jsou a já
  si užívám každého okamžiku s nimi. Po jejich boku řeším kriminální případy
  pomocí techniky porovnávání otisků prstů. Ty jsou totiž u každého člověka tak
  jedinečné jako sněhové vločky. Dobývám města tak, že postavím dřevěného koně a
  schovám se v jeho útrobách. Sleduju literární diskurzy a historická
  převyprávění, studuju člověka, jeho mysl i duši. Absolvovala jsem cestu kolem
  světa za osmdesát dní, naučila se, jak se staví letadla, složila melodii,
  vyvovala válku.
</p>
<p>
  Ovšem moje matka to považuje za hlouposti. Vyšívání, to je podle ní činnost,
  která se hodí pro mladou ženu mého postavení. V duchu jsem si povzdechla. Kdo
  si to jen proboha vymyslel?
</p>
{% endblock %}
