---
layout: review.njk
title: Vazač vzpomínek
citation: Bridget COLLINS - Vazač vzpomínek, JOTA, Brno 2021.
perex: Restaurátorka knih pátrá po původu záhadného svazku i po identitě svého zákazníka.
src: /images/docasny.JPG
alt: Obálka knihy Vazač vzpomínek
no: s. 29
tags: recenze
---

{% extends "./mezisablona.html" %} {% block hlavni %}

<p>
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Curabitur sagittis hendrerit ante. Etiam bibendum
  elit eget erat. Class aptent taciti sociosqu ad litora torquent per conubia
  nostra, per inceptos hymenaeos. Donec quis nibh at felis congue commodo. Nam
  quis nulla. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam.
  Nulla non lectus sed nisl molestie malesuada. Nullam sit amet magna in magna
  gravida vehicula. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim.
  Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien.
  Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies
  odio, vitae placerat pede sem sit amet enim. Maecenas aliquet accumsan leo.
</p>

<p>
  Aliquam ante. Nam sed tellus id magna elementum tincidunt. Cum sociis natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam quis
  quam. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Class
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
  hymenaeos. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in,
  elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis,
  sem. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
  fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
  nesciunt. Vivamus porttitor turpis ac leo. Sed elit dui, pellentesque a,
  faucibus vel, interdum nec, diam. Mauris dictum facilisis augue. Praesent
  vitae arcu tempor neque lacinia pretium. Fusce aliquam vestibulum ipsum.
  Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Phasellus et
  lorem id felis nonummy placerat. Integer pellentesque quam vel velit. Ut enim
  ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
  laboriosam, nisi ut aliquid ex ea commodi consequatur? Aliquam erat volutpat.
  Aliquam erat volutpat.
</p>

{% endblock %} {% block vedlejsi %} 
<p>Zamžourala na mě, jedno oko barvy čaje s mlékem se zdálo skoro bílé od lesku slunečního svitu na její tváři. „Chytí tě to, tohle všechno. Pokud jsi rozený knihvazač – což ty jsi, chlapče.“</p>
<p>Nevěděl jsem, co tím myslí. Aspoň… Na téhle místnosti bylo něco správného, něco, co – naprosto nečekaně – potěšilo moje srdce. Jako kdybych po vlně veder ucítil, že se blíží déšť – anebo jako kdybych zahlédl své staré já z doby, než jsem onemocněl. Už tak dlouho jsem nikam nepatřil, a teď mě tato místnost provoněná kůží a lepidlem vítala.</p>
<p>„Moc toho o knihách nevíš, co?“ zeptala se Seredith.</p>
{% endblock %}
